{% import '_macros/utilities' as utils %}

{% set columns = (cols is defined) ? cols : 'w-1/2 px-2' %}

<div class="{{ columns }} mb-8">
    {% if item.featuredImage | length %}
        <a href="{{ item.url }}" class="mb-4 block">
            {{ utils.lazyLoadImage(item.featuredImage.one, "thumb", "max-w-full") }}
        </a>
    {% endif %}

    <h3 class="font-serif text-3xl mb-4 block">
        <a href="{{ item.url }}" class="text-black no-underline hover:underline">
            {{ item.title }}
        </a>
    </h3>

    {% if topic is defined %}

        <ul class="list-none p-0 flex">
            {% nav category in item.topics.all %}
                <li>
                    <a href="{{ category.url }}" class="inline-block mr-2 text-black no-underline hover:underline">{{ category.title }}{% if not loop.last %}, {% endif %}</a>
                </li>
            {% endnav %}
        </ul>

    {% else %}

        <div>
            By <a href="{{ url('authors/'~item.author.username) }}">{{ item.author }}</a>
        </div>

    {% endif %}
</div>
